<header>
  <div class="container">
    <div class="row">      
      <div class="col-xs-12 col-sm-6 search">
	<a class="logo" href='/'>
	  <img src="/media/images/logo.png"/>
	  <span class="title">nulis</span>
	</a>
      </div>
      <div class="col-xs-12 col-sm-6 main-menu">
	<div class="menu">
	  <a>
	    About
	  </a>
	</div>
      </div>
    </div>
  </div>
</header>
