<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="https://nulis.io/media/favicon.png"/>	

<% if(loc=='authors'){ %>
<title>Top WritingPrompts Authors</title>
<meta property="twitter:title" content="Best Writingprompts Authors" />
<meta name="description"
      content="Top /r/WritingPrompts authors and their best stories.">
<meta property="og:description"
      content="Top /r/WritingPrompts authors and their best stories.">
<meta property="twitter:description"
      content="Top /r/WritingPrompts authors and their best stories.">

<meta property="og:image" content="https://nulis.io/media/social-leaderboard.png" />
<meta property="twitter:image" content="https://nulis.io/media/social-leaderboard.png" />
<% } else{ %>
<title>Unnoticed Prompts</title>
<meta property="twitter:title" content="Unnoticed Prompts" />
<meta name="description"
      content="Writing prompts with a few replies that are about to take off.">
<meta property="og:description"
      content="Writing prompts with a few replies that are about to take off.">
<meta property="twitter:description"
      content="Writing prompts with a few replies that are about to take off.">

<meta property="og:image" content="https://nulis.io/media/social-prompts.png" />
<meta property="twitter:image" content="https://nulis.io/media/social-prompts.png" />
<% } %>		      

<meta name="keywords"
      content="Top, WritingPrompts, Authors, 
	       Writers, Writing, /r/WritingPrompts, Reddit, creativity,
	       prompts, fiction, scifi, fantasy">

<meta name="author" content="Ray Alez">  
<meta property="twitter:creator" content="@raymestalez" />
<meta property="twitter:card" content="summary_large_image" />

<link rel="stylesheet" href="/static/styles/style.css">
      		       
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/tether.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>      		       





<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44003603-22', 'auto');
  ga('send', 'pageview');

</script>

  
