<!doctype html>
<html lang="en-us">
  <head>
    <% include ./elements/head %>
  </head>
  <body>
    <div class="mainWrapper">
      <% include ./elements/header %>
      <div class="page leaderboard">
	<div class="container">
	  <div class="show-grid row">
	    <div class="show-grid row">
	      <div class="col-md-12 col-xs-12">

		<article class="panel panel-default cta">
		  <span class="btn btn-default dropdown">
		    <% if(timeframe=='week'){ %>
		    This Week
		    <% } else{ %>  
		    All Time
		    <% } %>		      
		    <ul class="dropdown-menu">
		    <% if(timeframe=='week'){ %>
		      <li><a href="/top-writingprompts-authors/alltime">All time</a></li>
		      <% } else{ %>
		      <li><a href="/top-writingprompts-authors">This Week</a></li>
		    <% } %>		      
		    </ul>	
		  </span>				

		  <h1>Top 100 /r/WritingPrompts authors</h1>
		  
		  This is a leaderboard of the best(most upvoted)
		  <a href="https://www.reddit.com/r/WritingPrompts/">/r/WritingPrompts</a> authors and their top stories.<br/>
		  <% if(timeframe=='week'){ %>
		  Updated every day.
		  <% } else{ %>  
		  Updated every week.
		  <% } %>		      

		  <br/>
		  <br/>
		  <b>Check out other cool stuff that I've made:</b>
		  <br/>
		  - Discover
		  <a href="/prompts">
		    new prompts with very few replies that are about to take off</a>.
		  <br/>
		  - <a href="https://nulis.io/blog/post/nulis-writing-prompts-e58092f">Learn how to use Nulis and /r/WritingPrompts</a> to craft your stories, get awesome at writing fiction, and develop daily writing habits.
		  <br/>		  
		  - Use the <a href="https://nulis.io/template/Story">story writing template</a> to brainstorm and outline your stories.
		</article>
		<% include ./listauthors %>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <% include ./elements/footer %>
    </div>
  </body>
</html>
