<!doctype html>
<html lang="en-us">
  <head>
    <% include ./elements/head %>
  </head>
  <body>
    <div class="mainWrapper">
      <% include ./elements/header %>
      <div class="page leaderboard">
	<div class="container">
	  <div class="show-grid row">
	    <div class="show-grid row">
	      <div class="col-md-12 col-xs-12">

		<article class="panel panel-default cta">
		  <h1>Hot Prompts</h1>
		  This tool allows you to discover prompts that are about to take off,
		  but do not have many replies yet.
		  Replying to these prompts maximizes the chances that your story will
		  get more attention - it has a good chance of being visible on the front page, without getting buried under hundreds of other replies.
		  <br/>
		  <br/>
		  <i class="fa fa-hashtag"></i> - Position of the prompt on the front page of /r/WritingPrompts
		  <br/>
		  <i class="fa fa-arrow-up"></i> - Number of upvotes
		  <br/>
		  <i class="fa fa-comments"></i> - Number of replies
		  <br/>
		  <i class="fa fa-clock-o"></i> - How long ago it has been posted (in hours)
		  <br/><br/>
		  <b>Check out other cool stuff that I've made:</b>
		  <br/>
		  - <a href="/top-writingprompts-authors/">
		    Discover top 100 /r/WritingPrompts authors and their best stories.
		  </a>
		  <br/>
		  - Try <a href="https://nulis.io">Nulis</a> - an tree-editor that makes outlining your stories easy, fun, and convenient(learn more <a href="https://nulis.io/blog/post/Revolutionary-outline-editor-for-writers-t1009l8">here</a>).
		  <%#
		  - Learn how to use Nulis to
		  <a>write your stories with a straightforward, step by step process</a>.
		  <br/>
		  - Learn how to use Nulis to <a>develop a daily writing habit</a>.
		  %>

		</article>
		<% include ./listprompts %>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <% include ./elements/footer %>
    </div>
  </body>
</html>
